### SQL Connector

 Database Info:
 
        - Name: mosquito_joe
        - Tables: 
        
            - customer_profiles
            - work_orders

create database mosquito_joe

In [3]:
import mysql.connector
import sqlite3
import pandas as pd
sql_info = pd.read_csv('sqlinfo.csv')

# import the module
import pymysql
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{password}@localhost/{database}"
                       .format(user = 'root',
                              password = sql_info['info'][0],
                              database = 'mosquito_joe'))

### Changing Directory to Read in CSVs

In [4]:
import os 
os.chdir("CSVs")
work_orders = pd.read_csv("customer_orders.csv")
customer_profiles = pd.read_csv("all_customers.csv")

# Looking at Datatypes

### Mislabled work_orders:
    - scheduledate
    - completeddate
    - TIME
    - time_in
    - timeout

In [5]:
work_orders.dtypes

branchname           object
routename            object
scheduledate         object
TIME                 object
completeddate        object
accountnum            int64
nextscheduledate     object
description          object
programname          object
woheaderid            int64
Businessname         object
fullAddress          object
streetnumber         object
predirection         object
streetname           object
streetsuffix         object
postdirection       float64
STATE                object
city                 object
postalcode           object
postalcodeex        float64
phonenumber          object
emailaddress         object
completedamount     float64
taxtotals             int64
SumOfbillamount     float64
federaltaxamount      int64
statetaxamount        int64
localtaxamount        int64
Billamounttotals      int64
employee             object
time_in              object
timeout              object
propertytype         object
glnum                object
measurement           int64
duration              int64
dtype: object

In [6]:
import datetime
# Changing the objects to datetimes 
work_orders['scheduledate'] = pd.to_datetime(work_orders.scheduledate)
work_orders['completeddate'] = pd.to_datetime(work_orders.completeddate)
#Changing the time in and time out to time using to_datetime and extracting the the time with dt.time
work_orders['time_in'] = pd.to_datetime(work_orders['time_in'], format='%I:%M%p').dt.time
work_orders['timeout'] = pd.to_datetime(work_orders['timeout'], format='%I:%M%p').dt.time

C:\Users\tyler\AppData\Local\Temp\ipykernel_9432\2991226296.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  work_orders['scheduledate'] = pd.to_datetime(work_orders.scheduledate)
C:\Users\tyler\AppData\Local\Temp\ipykernel_9432\2991226296.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  work_orders['completeddate'] = pd.to_datetime(work_orders.completeddate)

### Mislabled customer_profiles:
    - datecreated

In [7]:
customer_profiles.dtypes

branchname             object
accountnum              int64
salutation             object
status                 object
accountname            object
firstname              object
lastname               object
datecreated            object
accountaddress         object
city                   object
state                  object
postalcode             object
phonetype              object
phonenumber            object
emailaddress           object
webaddress             object
attentionline         float64
propertytypename       object
mysearch               object
termname              float64
additionalcontacts    float64
discountname           object
dtype: object

In [8]:
customer_profiles['accountaddress'] = customer_profiles['accountaddress'].str.replace(",", "")#.str.replace("-", "")
customer_profiles['state'] = customer_profiles['state'].replace(["VERMONT", "NY"], "VT")
customer_profiles['scheduledate'] = pd.to_datetime(customer_profiles.datecreated)

C:\Users\tyler\AppData\Local\Temp\ipykernel_9432\2084565614.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  customer_profiles['scheduledate'] = pd.to_datetime(customer_profiles.datecreated)

## Creating Features (Lat/Long)

# Converting the address to latitude and longitude 
import pandas as pd
from geopy.geocoders import Nominatim

# create an instance of the geocoder
geolocator = Nominatim(user_agent="geoapiExercises")

# create an empty dataframe to store the results
latitude_longitude = pd.DataFrame(columns=["Address", "Latitude", "Longitude"])

# loop over the addresses
for i, address in enumerate(fc.Address):
    try:
        # get the location of the address
        location = geolocator.geocode(fc.Address.str.split(",",expand = True)[0].iloc[i]+","+ fc.Address.str.split(",",expand = True)[1].iloc[i]+ ","+fc.Address.str.split(",",expand = True)[2].iloc[i][:3])

        # store the address, latitude, and longitude in the dataframe
        fba = fba.append({"Address": address, "Latitude": location.latitude, "Longitude": location.longitude}, ignore_index=True)
    except:
        pass

# print the results
print(fba)
print(i)

### Reading Data into MySQL

In [9]:
customer_profiles.to_sql('customer_profiles', con=engine, if_exists='replace', method='multi', index=False)
work_orders.to_sql('work_orders', con=engine, if_exists='replace', method='multi', index=False)

4407

## Feature Engineering

In [10]:
#Creating churn feature and selecting specific features 
#Usinging the not in for the year after to determine customer churn 

churn = """# Getting churn year to year   
with 2020_churn as (
SELECT DISTINCT accountnum, Businessname, 2020 as churn_year
FROM mosquito_joe.work_orders
WHERE YEAR(scheduledate) = 2020
  AND accountnum NOT IN (
    SELECT DISTINCT accountnum
    FROM mosquito_joe.work_orders
    WHERE YEAR(scheduledate) = 2021
  ))
,  2021_churn as (SELECT DISTINCT accountnum, Businessname, 2021 as churn_year
FROM mosquito_joe.work_orders
WHERE YEAR(scheduledate) = 2021
  AND accountnum NOT IN (
    SELECT DISTINCT accountnum
    FROM mosquito_joe.work_orders
    WHERE YEAR(scheduledate) = 2022
  ))
,  2022_churn as (SELECT DISTINCT accountnum, Businessname, 2022 as churn_year
FROM mosquito_joe.work_orders
WHERE YEAR(scheduledate) = 2022
  AND accountnum NOT IN (
# have to select the current profiles to see the active and inactive 
    SELECT DISTINCT accountnum
    FROM mosquito_joe.customer_profiles
    WHERE `status` = 'active'
  ))   
,churn_union as (
select * from 2020_churn
UNION ALL 
select * from 2021_churn
UNION ALL 
select * from 2022_churn)
#Joining the data back in 
select customer_profiles.accountname, 
COALESCE(churn_year, '2023') as churn_year, 
customer_profiles.accountnum,
customer_profiles.accountaddress,
customer_profiles.city ,
customer_profiles.state ,
customer_profiles.emailaddress,
customer_profiles.scheduledate ,
customer_profiles.propertytypename,
customer_profiles.postalcode
from churn_union
right join mosquito_joe.customer_profiles on 
churn_union.accountnum = mosquito_joe.customer_profiles.accountnum
"""

In [11]:
#Getting churn feature of year 
customer_profiles = pd.read_sql(churn, con = engine)

In [12]:
customer_profiles.to_sql('customer_profiles', con=engine, if_exists='replace', method='multi', index=False)

580

In [13]:
# Joining the work orders to get the churn year as the feature lable 
workorders = """SELECT churn_year,
work_orders.time_in,
work_orders.SumOfbillamount ,
work_orders.duration ,
work_orders.branchname ,
work_orders.routename,
work_orders.scheduledate ,
work_orders.accountnum ,
work_orders.description ,
work_orders.programname ,
work_orders.Businessname ,
work_orders.woheaderid ,
work_orders.fullAddress ,
work_orders.streetnumber ,
work_orders.STATE ,
work_orders.city ,
work_orders.postalcode ,
work_orders.phonenumber ,
work_orders.emailaddress ,
work_orders.completedamount ,
work_orders.SumOfbillamount ,
work_orders.employee,
work_orders.time_in,
work_orders.timeout,
work_orders.propertytype,
work_orders.measurement,
work_orders.duration
FROM mosquito_joe.customer_profiles
join mosquito_joe.work_orders
on mosquito_joe.customer_profiles.accountnum = mosquito_joe.work_orders.accountnum;"""
workorders = pd.read_sql(workorders, con = engine)
workorders.to_sql('work_orders', con=engine, if_exists='replace', method='multi', index=False)

C:\Users\tyler\AppData\Local\Temp\ipykernel_9432\3828254520.py:33: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  workorders.to_sql('work_orders', con=engine, if_exists='replace', method='multi', index=False)

4407

In [14]:
resprays = """SELECT w.*, COALESCE(r.number_of_resprays, 0) AS number_of_resprays
FROM mosquito_joe.work_orders w
LEFT JOIN (
  SELECT accountnum, COUNT(*) AS number_of_resprays
  FROM mosquito_joe.work_orders
  WHERE description = 'Re-Spray'
  GROUP BY accountnum
) r ON w.accountnum = r.accountnum
where description != 'Re-Spray';
"""

In [15]:
workorders = pd.read_sql(resprays, con = engine)
workorders.to_sql('work_orders', con=engine, if_exists='replace', method='multi', index=False)

4316

In [16]:
import datetime

today = datetime.date.today()

year = today.year

print(year)

2023

# Converting Laititude / Longitude

In [17]:
#Selects the accounts that failed to return lat and long 
#Manual Process have to go to collab to obtain the values and download csv
"""SELECT customer_profiles.accountname, lat_long.Latitude ,lat_long.Longitude, customer_profiles.accountnum, customer_profiles.accountaddress, customer_profiles.city, customer_profiles.state
FROM mosquito_joe.lat_long
right join mosquito_joe.customer_profiles
on mosquito_joe.customer_profiles.accountnum =  mosquito_joe.lat_long.accountnum
where lat_long.Latitude is Null and customer_profiles.accountaddress is not null;"""

'SELECT customer_profiles.accountname, lat_long.Latitude ,lat_long.Longitude, customer_profiles.accountnum, customer_profiles.accountaddress, customer_profiles.city, customer_profiles.state\nFROM mosquito_joe.lat_long\nright join mosquito_joe.customer_profiles\non mosquito_joe.customer_profiles.accountnum =  mosquito_joe.lat_long.accountnum\nwhere lat_long.Latitude is Null and customer_profiles.accountaddress is not null;'

# Grabbing the latitude and longitude points on a right join 

- dropping out some customers ( need to investigate)
- new table created (current_customer)

#Automating to current year
import datetime
today = datetime.date.today()
year = today.year

lat_long = f"""
with lat_long as (
SELECT customer_profiles.*,latitude , longitude
FROM mosquito_joe.lat_long
right join mosquito_joe.customer_profiles 
on mosquito_joe.lat_long.accountnum = mosquito_joe.customer_profiles.accountnum)
, spray_type as (
select Distinct accountnum , description as spray_type 
from mosquito_joe.work_orders
)
select *
from lat_long
left join spray_type on lat_long.accountnum = spray_type.accountnum
where churn_year = "{year}" and 
spray_type in ('Synthetic Barrier Spray','Natural Barrier Spray') and 
latitude is not null"""

In [19]:
#Automating to current year
import datetime
today = datetime.date.today()
year = today.year

lat_long = f"""with lat_long as (
SELECT customer_profiles.*,Latitude , Longitude
FROM mosquito_joe.lat_long
right join mosquito_joe.customer_profiles 
on mosquito_joe.lat_long.accountnum = mosquito_joe.customer_profiles.accountnum)
,time_spend as ( SELECT Distinct accountnum, avg(SumOfbillamount) as price_of_job ,abs(avg(duration)) as duration
FROM mosquito_joe.work_orders
group by accountnum)
, spray_type as (
select Distinct accountnum , description as spray_type 
from mosquito_joe.work_orders
)
select *
from lat_long
join time_spend on time_spend.accountnum = lat_long.accountnum
left join spray_type on lat_long.accountnum = spray_type.accountnum
where churn_year = "{year}" and 
spray_type in ('Synthetic Barrier Spray','Natural Barrier Spray') and 
latitude is not null"""

In [20]:
pd.read_sql(lat_long, con = engine).to_sql("current_customers" , con=engine, if_exists='replace', method='multi', index=False)

312

In [21]:
customer_profiles.to_sql('customer_profiles', con=engine, if_exists='replace', method='multi', index=False)

580

In [22]:
pd.read_sql(lat_long, con = engine).to_sql("current_customers" , con=engine, if_exists='replace', method='multi', index=False)

312